body {
    background-image: url(hexellence.png);
    font-family: 'Edu TAS Beginner', cursive;
    display: flex;
    text-align: center;
    align-items: center;
}

.conteiner {
    display: flex;
    text-align: center;
    align-items: center;
    width: 100%;
}

.column {
    flex: 1;

}

.main {
    flex: 3;
}

main {
    display: flex;
    text-align: center;
    align-items: center;
}

.center {
    flex: 1;
}

.formulage {
    background-color: #cef0d5;
    border: solid black 2px;
    border-radius: 20px 0px 0px 20px;
    min-width: 200px;
    max-width: 500px;
    height: 500px;
}

.functional {
    flex: 3;
    background-image: url(pexels-photo-807598.jpeg);
    border: solid black 2px;
    height: 500px;
    min-width: 500px;
    border-radius: 0px 20px 20px 0px;

}


.formulage img {
    height: 150px;
    width: 150px;
    margin-top: 15px;
    margin-bottom: 100px;
}

.button {
    margin: 20px;
    min-width: 200;
    max-width: 400;
    height: 50px;
    background-color: #0de434;
    text-align: center;
    color: black;
    border: solid black 1px;
    border-radius: 5px;
}

.button:hover {
    background-color: #00f523;
    color: yellow;

}


.image {
    display: inline-block;
    margin-top: 100px;
    background-image: url(pexels-photo-807598.jpeg);
    min-width: 600px;
    max-width: 900px;
    height: 500px;

    border: solid black 2px;
    border-radius: 0px 20px 20px 0px;
}

.information {
    display: grid;
    place-content: center;
}